form{
    width: 100%;
    padding: 60px;
}

.controls{
    display: flex;
    justify-content: space-evenly;
}

.amount, .from, .to{
    display: flex;
    flex-direction: column;
}

input, select{
    padding: 5px;
    font-family: "Poppins";
    font-size: 15px;
    width: 150px;
    height: 40px;
    border: solid 1.5px var(--bgcolour-firstdiv);
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: ease 0.1s;
}
input:focus, input:hover{
    outline: none;
    border: solid 2px var(--bgcolour-body);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label{
    padding-bottom: 7px;
}

select{
    font-family: "Raleway";
    cursor: pointer;
}

.actions{
    padding-top: 20px;
    text-align: center;
}

button{
    cursor: pointer;
    font-size: 18px;
    padding: 8px;
    border: 0;
    border-radius: 4px;
    background-color: var(--bgcolour-body);
    color: var(--bgcolour-form);
}

button:hover{
    color: var(--bgcolour-firstdiv);
}